body
	.comentarios
		background url("style/bg-header.png") repeat-x bottom
		text-align center
		width 80%
		padding 1% 10% 80px
		.adsbygoogle
			display inline-block
			width 234px
			height 60px
@media screen and (min-width: 725px)
	body
		.comentarios
			.adsbygoogle
				display inline-block
				width 728px !important
				height 90px !important