doctype html
html  
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Chat
    style
      |  body { font: 13px Helvetica, Arial; margin: 0px; }
      |  form { background: #000; padding: 2%;width:96% }
      |  form input {border: 0;padding: 10px;width: 66%;font-size: 20px;vertical-align: middle;display: inline-block;}
      |  form button {display: inline-block;background: rgb(130, 224, 255);border: none;vertical-align: middle;padding: 2%;width: 14%;margin: 0 10px; }
      |  #messages { list-style-type: none; margin: 0; padding: 0;  height:200px;overflow: auto;}
      |  #messages li { padding: 5px 10px; }
      |  #messages li:nth-child(odd) { background: #eee;}
  body
    ul#messages
    form(action='')
      input#m(autocomplete='off')
      button Send
  script(src='/socket.io/socket.io.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script
    | var socket = io();
    |  $('form').submit(function(){
    |  socket.emit('chat message', $('#m').val());
    |  $('#m').val('');
    |  return false;
    |  });
    |  var TopScroll = 0;
    |  socket.on('chat message', function(msg){
    |  $('#messages').append($('<li>').text(msg));
    |  TopScroll += $('li').height();
    |  //alert(TopScroll);
    |  $('#messages').scrollTop(TopScroll);
    |  });