section.comentarios
  if next
    fb:comments(href='http://jammyvega.pacochavez.mx/fotos/#{id}', numposts='5', colorscheme='light')
  else
    fb:comments(href='http://jammyvega.pacochavez.mx/', numposts='5', colorscheme='light')

  script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  <!-- boda jammy y paco -->
  ins.adsbygoogle(data-ad-client="ca-pub-8859413948767911", data-ad-slot="5490984129")
  script (adsbygoogle = window.adsbygoogle || []).push({});
