-var id
-var id_usuario
-var imagen 
-var type
-var nombre
each value, i in name
	div 
		each num,e in value
			if (e == 'id')
				-id = num
			if (e == 'id_usuario')
				-id_usuario = num
			if (e == 'imagen')
				-imagen = num
			if (e == 'type')
				-type = num
			if (e == 'name')
				-nombre = "fotos de "+num
		if (nombre)
			h2 #{nombre}
		a(href='/fotos-boda/#{imagen}')
			img(src='/thumbnail/#{imagen}')