div.user #{usuario}
ul
	li.progress.btn-pic
		div.bar(style='width: 0%')
	li.alert.btn-pic mensaje
	if  usuario
		li.select_files.btn-pic.active
			input(type='file', name='myFile', id='myFile',multiple)
		li.select_files.upload.btn-pic.active subir fotos		
	else
		li.select_files.btn-pic
			input(type='file', name='myFile', id='myFile',multiple)
		li.select_files.upload.btn-pic subir fotos
		li.menu.btn-pic.login.upload.active
			.fb-login-button(data-max-rows='1', data-size='large', data-show-faces='false',data-auto-logout-link='flase', onlogin='checkLoginState();')