doctype html
html(lang='es', xmlns:fb='http://ogp.me/ns/fb#')
  head
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='description', content='Celebra la boda de ♥ Jammy y Paco ♥ la pareja más bonita de todo el universo')
    meta(name='keywords', content='boda jammy, jammy y paco, boda jammy y paco,')
    title La boda de ♥ Jammy Vega & Paco Chavez ♥
    link(rel='icon', type='image/png', href='/img/boda-jammy-paco.png')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Alex+Brush', rel='stylesheet', type='text/css')
    link(rel='apple-touch-icon', href='ios/icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/ios/icon-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/ios/icon@2x.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/ios/icon-72@2x.png')
   //- script( src="/javascripts/analytics.js")

  body 
    block content
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/login.js')
    script var id_usuario  = "#{usuario}";
        |var disqus_identifier = document.URL;
