li.progress.btn-pic
	div.bar(style='width: 0%')
li.alert.btn-pic mensaje
li.select_files
	input.btn-pic(type='text', name='myName', id='myName')
	input.btn-pic(type='file', name='myFile', id='myFile',multiple)
li.select_files.upload subir fotos